.cta-sign-up .btn-getstarted,
.cta-sign-up .btn-getstarted:focus {
    cursor: pointer;
  font-size: 16px;
  color: var(--color-white);
  background: var(--color-primary);
  padding: 8px 23px;
  border-radius: 4px;
  transition: 0.3s;
  font-family: var(--font-secondary);
}

.cta-sign-up .btn-getstarted:hover,
.cta-sign-up .btn-getstarted:focus:hover {
  color: var(--color-white);
  background: rgba(var(--color-primary-rgb), 0.85);
}

@media (max-width: 1279px) {
  .cta-sign-up .btn-getstarted,
  .cta-sign-up .btn-getstarted:focus {
    margin-right: 50px;
  }
}